<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ratioW</key>
		<integer>1</integer>
		<key>ratioH</key>
		<integer>1</integer>
		<key>inActive</key>
		<string>1_1</string>
		<key>active</key>
		<string>1_1_active</string>
	</dict>
	<dict>
		<key>ratioW</key>
		<integer>1</integer>
		<key>ratioH</key>
		<integer>1</integer>
		<key>inActive</key>
		<string>1_1</string>
		<key>active</key>
		<string>1_1_active</string>
	</dict>
	<dict>
		<key>ratioH</key>
		<integer>5</integer>
		<key>ratioW</key>
		<integer>4</integer>
		<key>inActive</key>
		<string>4_5</string>
		<key>active</key>
		<string>4_5_active</string>
	</dict>
	<dict>
		<key>ratioW</key>
		<integer>4</integer>
		<key>ratioH</key>
		<integer>3</integer>
		<key>inActive</key>
		<string>4_3</string>
		<key>active</key>
		<string>4_3_active</string>
	</dict>
	<dict>
		<key>ratioW</key>
		<integer>9</integer>
		<key>ratioH</key>
		<integer>16</integer>
		<key>inActive</key>
		<string>9_16</string>
		<key>active</key>
		<string>9_16_active</string>
	</dict>
	<dict>
		<key>ratioW</key>
		<integer>16</integer>
		<key>ratioH</key>
		<integer>9</integer>
		<key>inActive</key>
		<string>16_9</string>
		<key>active</key>
		<string>16_9_active</string>
	</dict>
	<dict>
		<key>ratioW</key>
		<integer>3</integer>
		<key>ratioH</key>
		<integer>4</integer>
		<key>inActive</key>
		<string>3_4</string>
		<key>active</key>
		<string>3_4_active</string>
	</dict>
	<dict>
		<key>ratioW</key>
		<real>2.39</real>
		<key>ratioH</key>
		<integer>1</integer>
		<key>inActive</key>
		<string>2_39_1</string>
		<key>active</key>
		<string>2_39_1_active</string>
	</dict>
</array>
</plist>
